<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Language</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box">
        <% if (message) { %>
            <h4>
                <%= message.ID %>
            </h4>
            <h2>
                <%= message.msgText %>
            </h2>
            <% } %>
                <% if(error_message){%>
                    <h3>
                        <%= error_message %>
                    </h3>
                    <% } %>
    </div>

</body>

</html>